image:
  docker:latest

services:
  - docker:dind

stages:
  - build
  - publish

before_script:
  - chmod 777 -R .
build:
  image: maven:3.6.3-jdk-8
  stage: build
  script:
    - sh build.sh
  artifacts:
    paths:
      - devops/*
  only:
    - develop


publish:
  only: [develop]
  needs: ["build"]
  stage: publish
  image: docker
  services:
    - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  before_script:
    - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  script:
    - docker  build -t $CI_REGISTRY_IMAGE .
    - docker image ls
    - docker push $CI_REGISTRY_IMAGE



