<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
<title>Start</title>
<link href="/imagens/logo_pp.png" rel="icon" type="image/x-icon" />

<link href="/css/main.css" rel="stylesheet" />

<!-- WEBJARS -->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body class="bg-light">
	<!-- Barra de Menu -->
	<section th:insert="barra_de_menu :: barra_de_menu"></section>

	<section class="container">
		<form class="shadow-sm rounded mt-4 mb-2 p-2" enctype="multipart/form-data" th:object="${form}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" th:field="*{idStart}" /> <input type="hidden" th:field="*{idCoachEntrevista}" />
			<input type="hidden" th:field="*{idAgendamento}" /> <input type="hidden" th:field="*{idCoachEntrevista}" />

			<div class="row">
				<div class="col-12">
					<h5 class="text-center">Entrevista de Negócio</h5>
				</div>

				<div class="col-6 mt-3">
					<div class="input-group input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">Start</div>
						</div>
						<input class="form-control" type="text" th:field="*{nomeStart}" readonly="readonly">
					</div>
					<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('nomeStart')}" th:text="${erro}"></p>
				</div>

				<div class="col-6 mt-3">
					<div class="input-group input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">Coach Entrevista</div>
						</div>
						<input class="form-control" type="text" th:field="*{nomeCoachEntrevista}" readonly="readonly">
					</div>
					<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('nomeCoachEntrevista')}" th:text="${erro}"></p>
				</div>

				<div class="col-12 mt-1">
					<table class="table table-sm">
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Histórico (Profissional, Cursos, Graduação)</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p01')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p01" th:value="${e}" th:checked="${e.equals(form.p01)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Área de interesse</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p02')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p02" th:value="${e}" th:checked="${e.equals(form.p02)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Nível de contato com a área de tecnologia</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p03')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p03" th:value="${e}" th:checked="${e.equals(form.p03)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">4</th>
								<td>Proatividade</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p04')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p04" th:value="${e}" th:checked="${e.equals(form.p04)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">5</th>
								<td>Comunicação</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p05')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p05" th:value="${e}" th:checked="${e.equals(form.p05)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">6</th>
								<td>Contato com Metodologia Ágil</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p06')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p06" th:value="${e}" th:checked="${e.equals(form.p06)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">7</th>
								<td>Evolução pós curso</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p07')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p07" th:value="${e}" th:checked="${e.equals(form.p07)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">8</th>
								<td>Quais pontos fortes e de melhoria</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p08')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p08" th:value="${e}" th:checked="${e.equals(form.p08)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">9</th>
								<td>Organização e planejamento</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p09')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p09" th:value="${e}" th:checked="${e.equals(form.p09)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">10</th>
								<td>Disponibilidade hora extra</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p10')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p10" th:value="${e}" th:checked="${e.equals(form.p10)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">11</th>
								<td>Rotina</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p11')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p11" th:value="${e}" th:checked="${e.equals(form.p11)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
							<tr>
								<th scope="row">12</th>
								<td>Infra home office</td>
								<td>
									<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('p12')}" th:text="${erro}"></p>
								</td>
								<td>
									<div class="form-check form-check-inline" th:each="e : ${farois}">
										<input class="form-check-input" type="radio" name="p12" th:value="${e}" th:checked="${e.equals(form.p12)} ? checked"> 
										<label class="form-check-label redondo mt-1" th:title="${e.mensagem}" th:text="${'&nbsp&nbsp' + e.valor + '&nbsp&nbsp'}" th:style="${'background-color:'+e.corFundo+';color:'+e.corFonte+';'}"></label>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-12 mt-3">
					<div class="input-group input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">*Parecer</div>
						</div>
						<textarea class="form-control" name="parecer" th:text="${form.parecer}" rows="2"></textarea>
					</div>
					<p class="text-danger text-center m-0 p-0" th:each="erro : ${#fields.errors('parecer')}" th:text="${erro}"></p>
				</div>
			</div>

			<div class="row justify-content-end">
				<div class="col-auto mt-3">
					<a class="btn btn-secondary" href="/home">Cancelar</a>
				</div>
				<div class="col-auto mt-3">
					<button class="btn btn-primary" formmethod="post" type="submit" th:formaction="@{/entrevista/negocio}">Salvar</button>
				</div>
			</div>
		</form>

		<section th:insert="mensagem :: mensagem"></section>
	</section>

	<script th:if="${sucesso != null || erro != null || alerta != null}" type="text/javascript">
		$("#mensagem").modal("show");
	</script>
</body>
</html>