<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
	<title>Pets</title>

	<!-- WEBJARS -->
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="/css/main.css" rel="stylesheet" />
</head>

<body class="main-bg-amarelo">

	<section th:insert="navbar :: navbar"></section>

	<section class="container">
		<form class="shadow-sm rounded mt-4 mb-2 p-2" enctype="multipart/form-data" th:object="${especieModel}">
			<input type="hidden" th:field="*{id}" />
			<div class="row">
				<div class="col-12">
					<h5 class="text-center main-text-castanho">Cadastro de Especie</h5>
				</div>
			</div>

			<div class="row">
				<div class="col-12 mt-3">
					<div class="input-group input-group">
						<div class="input-group-prepend">
							<div class="input-group-text">*Nome da especie:</div>
						</div>
						<input class="form-control" type="text" th:field="*{nome}" placeholder="nome">
					</div>
				</div>
			</div>

			<div class="row justify-content-end">
				<div class="col-auto mt-3">
					<button id="button_salvar" class="btn btn-primary" formmethod="post" type="submit"
						th:formaction="@{/especie}">Salvar</button>
				</div>
			</div>
		</form>
	</section>


</body>