<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
<title>Start</title>
<link href="/imagens/logo_pp.png" rel="icon" type="image/x-icon" />

<link href="/css/main.css" rel="stylesheet" />

<!-- WEBJARS -->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

</head>
<body>
	<section th:fragment="barra_de_menu">
		<nav class="navbar navbar-dark main-bg-roxo navbar-expand-lg justify-content-between shadow-sm rounded">
			<a class="navbar-brand" href="/"><img src="/imagens/logo_p.png"><span class="h2"> Start</span></a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>

					<li th:if="${usuario.hasAnyRole('ROLE_LER')}" class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOficial" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestores</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownOficial">
							<a th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-item" href="/gestor">Cadastro</a>
							<div th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-divider"></div>
							<a class="dropdown-item" href="/gestor/listar">Lista</a>
						</div>
					</li>

					<li th:if="${usuario.hasAnyRole('ROLE_LER')}" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOficial" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Coachs</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownOficial">
							<a th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-item" href="/coach">Cadastro</a>
							<div th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-divider"></div>
							<a class="dropdown-item" href="/coach/listar">Lista</a>
						</div>
					</li>

					<li th:if="${usuario.hasAnyRole('ROLE_LER')}" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOficial" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Starts</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownOficial">
							<a th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-item" href="/start">Cadastro</a>
							<div th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-divider"></div>
							<a class="dropdown-item" href="/start/listar">Lista</a>
						</div>
					</li>

					<li th:if="${usuario.hasAnyRole('ROLE_LER')}" class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOficial" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Turmas</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownOficial">
							<a th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-item" href="/turma">Cadastro</a>
							<div th:if="${usuario.hasAnyRole('ROLE_EDITAR')}" class="dropdown-divider"></div>
							<a class="dropdown-item" href="/turma/listar">Lista</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link text-danger" th:href="@{/logout}" title="voltar para tela de login">
							<span th:if="${usuario != null}" class="text-danger" th:text="${usuario.nome}"></span>
							<span class="text-danger">@Logout</span> 
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</section>
</body>
</html>